<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="ru.leksiinesm.playerlib">

    <application>
        <service
                android:name="ru.leksiinesm.playerlib.service.MediaPlayerService"
                android:process=":externalProcess" />
    </application>

</manifest>
